Repository AndrewRadev/protein-runway, pull requests merged in 2024-11, with the labels that each got.

#32 Streamline segmentation pipeline, collect single output file
  .gitignore
  01_input/.keep
  02_intermediate/.keep
  03_output/.keep
  PCA/1fuu_eda_3.nmd
  PCA/1jk9_eda_3.nmd
  PCA/README.md
  PCA/pca.py
  README.md
  Snakefile
  bio3d_test.R
  data/pdb/1fuu.pdb
  data/pdb/1i0e.pdb
  data/pdb/1jk9.pdb
  data/pdb/7wwy.pdb
  micromamba_env.yml
  requirements.txt
  scripts/collect_segmentation_intermediates.py
  scripts/convert_traj_to_pdbs.py
  scripts/segment_with_bio3d_geostas.R
Labels: segmentation, PCA, integration

#33 Blender addon: File input, dependencies
  .gitignore
  README.md
  blender/build.sh
  blender/extension/__init__.py
  blender/extension/blender_manifest.toml
  blender/proteinrunway_blender.py
Labels: blender

#36 Render atoms of uploaded file, animate trajectory
  blender/extension/__init__.py
Labels: blender

#39 Blender: import animations
  blender/extension/__init__.py
Labels: blender

#66 Merge OOP branch into main
  Snakefile
  lib/normal_modes.py
  lib/segmentation_parsers.py
  lib/trajectory_writer.py
  lib/util.py
  md_test.py
  scripts/build_nmd_file.py
  scripts/collect_segmentation_intermediates.py
  scripts/convert_traj_to_pdbs.py
  scripts/generate_nmd_traj.py
  scripts/reduce_trajectory.py
  tests/generate_nmd_traj_test.py
  tests/segmentation_parser_test.py
Labels: integration
